body {
    background-color: aliceblue;
}

.container {
    text-align: center;
    margin-top: 40px;
}

table {
    margin: auto;
}

input {
    font-size: 24px;
    width: 336px;
    height: 40px;
    background-color: rgb(251, 241, 241);
    border: solid black;
    border-radius: 15px;
}

button {
    background-color: rgb(220, 221, 219);
    width: 83px;
    height: 52px;
    border: solid black;
    border-radius: 20px;
}

.calculator {
    display: inline-block;
    background-color: #e708b1;
    padding: auto;
    padding: 10px;
    border-radius: 20px;
}